@import "../../styles/variaveis";

main.rodape {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    background-color: $azul-rodape;
    height:40px;
}

.icones {
    a{
        margin: 10px;
        img{
            margin-top: 8px;
        }
    }
}

h1{
    margin-right: 20px;
    margin-top: 8px;
    color: $cor-do-texto;
    font-size: 1.3rem;
    font-family: "GandhiSansRegular";
}